@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    .container__main {
        justify-content: space-evenly;
        margin-top: 50px;
    }
    .conteiner__content {
        width: 600px;
        margin-top: 30px;
    }
    .conteiner__content__inside {
        display: flex;
        justify-content: center;
    }
    .conteiner__content__about {
        max-width: 300px;
        margin-left: 150px;
    }
    .container__image {
        position: relative;
        justify-content: end;
    }

</style>

<div class="col d-flex container__main">
    <div class="conteiner__content">
        <div class="text-center conteiner__content__inside">
            <div class="conteiner__content__about">
                <div class="conteiner__content__about__text">
                    @if (User?.IsInRole("Learner") ?? true)
                    {
                        <div>
                            <h2>About service</h2>
                            <p>This service gives oportunitues to create the test for everyone, check statistics, and other</p>
                        </div>
                        <div style="margin-top: 30px;">
                            <h2>To become a teacher</h2>
                            <p>To become a teacher you need to leave an application, which we will consider in the near future</p>
                        </div>
                        <a class="btn btn-secondary btn-lg" style="background-color: #6310CB; margin-top: 30px;" asp-action="BecomeATeacher">Send request&nbsp;&nbsp;<i class="far fa-paper-plane"></i></a>
                    }
                    else if(User?.IsInRole("Teacher") ?? true)
                    {
                        <div class="card">
                            <div class="card-body">
                                <h1>Hi, teacher!</h1>
                            </div>
                        </div>
                        <div style="margin-top: 35px;">
                            <div style="margin-top: 30px;">
                                <div class="card">
                                    <div class="card-header">
                                        <h2>How you feel ?</h2>
                                    </div>
                                    <div class="card-body">
                                        <p>Dont forget the creating a new tests for the learners ! They are need it from you !</p>
                                    </div>
                                    <div class="card-footer d-flex justify-content-center">
                                        <div style="margin-left: 10px;">
                                            <a style="color: #6310CB; margin-top: 18px; width: 150px; font-size: 25px;" asp-controller="Tests" asp-action="PrivateChooser">CREATE TEST</a>&nbsp;&nbsp;&nbsp;<i class="far fa-hand-point-left"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>
                            <h2>Administrator in system</h2>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container__image">
        <img src="~/svg/fall_main.svg" style="width: 698px; height: auto; margin-right: 81px;" />
    </div>
</div>
