@{
    ViewData["Title"] = "Create Test End";
}

<div class="d-flex justify-content-center" style="margin-top: 50px;">
    <div style="position:relative">
        <img src="~/svg/salut.svg" alt="Alternate Text" style="max-width: 1000px; margin-top: -7px; margin-left: -25px;" />
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 204px; position:absolute">
        <div class="d-flex justify-content-center" style="width: 500px;">
            <div>
                <div class="container__congrats">
                    <div class="d-flex justify-content-center">
                        <div>
                            <div>
                                <h2>Congratulations !</h2>
                            </div>
                            <div>
                                <div class="d-flex justify-content-center">
                                    <div style="margin-top: 20px;">
                                        <p>You have created a new test</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex" style="margin-top: 20px">
                    <div class="mb-2 mr-2">
                        <a href="/" value="false" style="outline: inset; margin-right: 15px;">Back to main</a>
                    </div>
                    <div class="mb-2 mr-2">
                        <a asp-controller="Tests" asp-action="ViewTest" asp-route-testId=@ViewData["testId"] style="outline: inset; margin-right: 15px;">View</a>
                    </div>
                    <div class="mb-2 ml-2">
                        <a href="/Tests/PrivateChooser" style="outline: inset; margin-right: 15px;">Create more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>