@using TestioProject.PL.Models;
@model List<TestViewModel>

<div class="d-flex justify-content-center" style="margin-top: 70px">
    <div style="position:relative; max-height: 400px;">
        <img src="~/svg/choose_tests.svg" alt="Alternate Text" style="width: 740px; margin-top: 38px; height: 500px; margin-left: -157px; width: 659px; position:relative;" />
    </div>
    <div style="position:absolute">
        @if (Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <div class="d-flex">
                    <a class="d-flex" asp-action="ViewTest" asp-route-testId=@item.testId><p>#@item.testId |</p>&nbsp;<p>@item.Title |</p>&nbsp;<p>@item.Owner.FirstName&nbsp;@item.Owner.LastName</p></a>
                </div>
            }
        }
        else
        {
            <div style="margin-top: 150px;">
                <span><b>Tests is empty</b></span>
            </div>
        }
    </div>
    <div style="left: 215px; position: relative;">
        
        <div id="ShowModalHere"></div>

        <form asp-controller="Tests" asp-action="Search" method="post">
            <div class="input-group mb-3">
                <input class="form-control" type="text" name="search" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
            </div>
            @if (User?.IsInRole("Teacher") ?? true)
            {
                <div>
                    <button class="btn" type="submit" name="display" value="true" style="background-color: #6310CB; color:white;">Display own tests</button>
                </div>
                <div style="margin-top: 15px">
                    <a class="btn btn-success" href="/Tests/PrivateChooser" style="width: 150px"><i class="fas fa-plus"></i>&nbsp;&nbsp;Create test</a>
                </div>
            }
        </form>
        <div style="margin-top: 15px">
            <button class="btn" data-toggle="ajax-modal" data-target="#findByReferrerToken" data-url="/Tests/ReferrerModalWindow" style="background-color: #6310CB; color:white;">Referrer token</button>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/modals.js"></script>
}
