@using TestioProject.PL.Models
@model StatiscticViewModel

    <div>
        <div>
            <h2>Congrats !</h2>
            <h3>Your result:</h3>
            <h4>@Model.Result</h4>
        </div>
    </div>