@using Microsoft.AspNetCore.Identity
@using TestioProject.DAL.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User?.IsInRole("Admin") ?? true)
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-controller="Admin" asp-action="Index" title="Manage">Admin panel</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark mr-3" asp-controller="Profile" asp-action="Index" title="Profile">@*@User.Identity.Name*@<i class="fas fa-user-alt fa-lg"></i></a>
            </li>
        }
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark"><i class="fas fa-sign-out-alt fa-lg"></i></button>
            </form>
        </li>
    }
</ul>
