<div class="d-flex justify-content-center">
    <div>
        <div style="margin-top: 40px">
            <h1>Admin panel</h1>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 45px">
            <div>
                <a class="btn btn-success" href="/Admin/Requests">Check requests</a>
            </div>
        </div>
    </div>
</div>

